* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #F5F7FB;
  height: 100vh;
  background-image: url(./topBlob.png), url(./bottomBlob.png);
  background-repeat: no-repeat, no-repeat;
  background-position: right top, bottom left;
  font-family: Karla;
}

.loading {
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: auto;
}

.no-alert {
  margin-top: 30px;
}

.check {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.alert {
  background-color: #ffb3b3;
  font-size: 16px;
  padding: 6px;
  margin: 12px auto 10px;
}

.check-btn {
  margin-top: 0;
}

button {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #F5F7FB;
  width: 193px;
  height: 52px;
  background: #4D5B9E;
  border-radius: 15px;
  border: none;
  margin-top: 30px;
  cursor: pointer;
}

button:focus {
  outline: none;
}

button:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.disable-check-btn {
  cursor: default;
}

button:active.disable-check-btn {
  box-shadow: none;
}

.start {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 31.25px;
  line-height: 37px;
  text-align: center;
  color: #293264;
}

.description {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #293264;
}

.start-btn {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #F5F7FB;
  width: 193px;
  height: 52px;
  background: #4D5B9E;
  border-radius: 15px;
  border: none;
  margin-top: 30px;
  cursor: pointer;
}

.quiz {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.qna {
  width: 645px;
  border-bottom: 0.794239px solid #DBDEF0;;
}

.question {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #293264;
}

.options {
  display: flex;
  margin-bottom: 15px;
}

.option {
  margin: 0;
  min-width: 60px;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 13px;
  line-height: 14px;
  text-align: center;
  color: #293264;
  border: 0.771045px solid #4D5B9E;
  border-radius: 7.71045px;
  padding: 5px 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-left: 13px; */
}

.correct-ans {
  background: #94D7A2;
  border-color: transparent;
}

.wrong-ans {
  background: #F8BCBC;
  border-color: transparent;
  opacity: 0.5;
}

.others {
  opacity: 0.5;
}

.option + .option {
  margin-left: 15px;
}

/* .option:first-of-type {
  margin-left: 0
} */

.results {
  margin-top: 35px;
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.score {
  width: 260px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 15px;
  text-align: center;
  color: #293264;
  padding-top: 24px;
}

.play-again-btn {
  width: 177px;
  height: 48px;
}